version: 2
updates:
- package-ecosystem: github-actions
  directory: /
  schedule:
    interval: weekly
  groups:
    github-actions:
      patterns:
      - "*"

- package-ecosystem: docker
  directory: /.devcontainer
  schedule:
    interval: weekly

- package-ecosystem: npm
  directory: /frontend
  schedule:
    interval: weekly
  groups:
    npm:
      patterns:
      - "*"

- package-ecosystem: pip
  directory: /
  schedule:
    interval: weekly
  groups:
    pip:
      patterns:
      - "*"
