name: Continuous Integration

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: Install Node.js
      uses: actions/setup-node@v6
      with:
        node-version-file: .node-version

    - name: Install dependencies
      run: make deps

    - name: Run linters
      run: |
        make lint
        make build
        make format
        git diff --exit-code

    - name: Run tests
      run: make container-test

    - name: Upload test results
      if: ${{ failure() }}
      uses: actions/upload-artifact@v5
      with:
        name: test-results
        path: frontend/test-results
